@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: dark) {
    #snippetDescription a {
      color: #3B82F6; 
    }
    #snippetDescription a:hover {
      color: red; 
    }
    body {
      background-color: #fff !important;
      color: black !important;
    }
  }
}
